<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="conn" value="server=STPLPC2231;Initial catalog=
		;Integrated Security=True;"/>-->

		<add key="SFCS" value="server=192.168.1.181;database=SFCS;user id=sa;password=Syrma@2022;"/>
		<add key="BARCODE" value="server=192.168.1.146;database=Barcode;user id=sa;password=syrma@123;"/>
		<add key="ESSENCORE" value="server=192.168.1.146;database=Essencore;user id=sa;password=syrma@123;"/>
			
		<add key ="exePath" value ="D:\CrystalDiskInfo8_17_14\DiskInfo64.exe"/>
		<add key ="savePath" value ="D:\CDI Data\crystalDisk.txt"/>
		<add key="NETWORKPATH" value ="\\192.168.1.121\MSI_Applications"/>
		<add key="MASTERFILEPATH" value ="\\10.10.120.16\essencore sbd test\SPD_DDR4_Files\MasterFiles"/>
		<!--<add key="MASTERFILEPATH" value ="\\192.168.1.121\MSI_Applications\SPD_DDR4_Files\MasterFiles"/>-->

		<add key="DDR4_APP_Path" value ="D:\SPD_Application\DDR4 EZSPD V1.9.7.1 SYRMASGS"/>
		<add key="DDR5_APP_Path" value ="D:\SPD_Application\DDR5 EZSPD V1.5.7.1 SYRMASGS"/>
		<add key="DDR4_APP_LogPath" value ="D:\SPD_Application\DDR4 EZSPD V1.9.7.1 SYRMASGS\Log_File"/>
		<add key="DDR5_APP_LogPath" value ="D:\SPD_Application\DDR5 EZSPD V1.5.7.1 SYRMASGS\Log_File"/>
		<add key ="BackupfilePath" value="D:\SPD_Application\DDR4 EZSPD V1.9.7.1 SYRMASGS\Logsbkp"/>

		<add key="ISONLINE" value="1"/>

	</appSettings>
</configuration>